<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SportKonnectRYM</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <!--header start -->
    <header>
      <h1>
        SportKonnectRYM
      </h1>
      <nav>
        <ul>
          <li>
            <a href="#soccer">Soccer</a>
          </li>
          <li>
            <a href="#Basketball">#Basketball</a>
          </li>
          <li>
            <a href="#Football">Football</a>
          </li>
        </ul>
      </nav>
    </header>
    <section class="Upcoming-games">
      <div>
      <div class="Process"></div>
      <div class="process"></div>
      <div class="process"></div>
      </div>
    </section>

</body>


</html>