<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/dashboard">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/home">Home</a>
  </li>
</ul>