{{!-- <header>
    <a href="/dashboard">Dashboard</a>
    <a href="/homepage">SportsKonnectRYM</a>
    <a href="/logout">logout</a>
</header>

<section id= "choice of sports">
    <a href="/basketball">Basketball</a>
    <a href= "/soccer">Soccer</a>
</section>

<section id= "news">
    
</section> --}}

<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">SportsKonnectRYM</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/dashboard">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/logout">logout</a>
  </li>
</ul>


{{!-- <div class="justify-content center"> --}}
  <div class="container">
    <div class="row">
<h1 class="col" id="newsEl">News</h1>
<nav>
        <ul>
          <li>
            <a href="#soccer">Soccer</a>
          </li>
          <li>
            <a href="#Basketball">#Basketball</a>
          </li>
          <li>
            <a href="#Football">Football</a>
          </li>
        </ul>
      </nav>
    </header>
    <section class="Upcoming-games">
      <div>
      <div class="Process"></div>
      <div class="process"></div>
      <div class="process"></div>
      </div>
    </section>
</div>
</div>