{{!-- <header>
    <a href="/dashboard">Dashboard</a>
    <a href="/homepage">SportsKonnectRYM</a>
    <a href="/logout">logout</a>
</header>

<section id= "choice of sports">
    <a href="/basketball">Basketball</a>
    <a href= "/soccer">Soccer</a>
</section>

<section id= "news">
    
</section> --}}

<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/homepage">SportsKonnectRYM</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/dashboard">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/logout">logout</a>
  </li>
</ul>


{{!-- <div class="justify-content center"> --}}
  <div class="container">
    <div class="row">
<h1 class="col" id="newsEl">News</h1>
</div>
</div>