
<form class="login-form">
<div class="RYM">
        <h1>SportKonnectRYM</h1>
    </div>
    <div class="center">
        <h1>Login</h1>
        {{!-- <form method="post"> --}}
            <div class="text_area">
                <input id= "username-login"type="text" required>
                <label>Username</label>
            </div>
            <div class="text_area">
                <input id= "password-login" type="password" required>
                <label>Password</label>
            </div>
            <input type="submit" value="Login">
            <div class="pass">Forgot Password?</div>
            <div class="signup_link">
            You don't have a account? <a href="/signup">Signup</a>
            </div>
        {{!-- </form> --}}
    </div>   
</form>
    <script src="/public/javascript/login.js"></script>
