
<link rel="stylesheet" href="./public/stylesheet/style.css" />
<div class="RYM">
        <h1>SportKonnectRYM</h1>
    </div>
    <div class="center">
        <h1>Login</h1>
        <form method="post">
            <div class="text_area">
                <input type="text" required>
                <label>Username</label>
            </div>
            <div class="text_area">
                <input type="password" required>
                <label>Password</label>
            </div>
            <div class="pass">Forgot Password?</div>
            <input type="submit" value="Login">
            <div class="signup_link">
            You don't have a account? <a href="#">Signup</a>
            </div>
        </form>
    </div>   
