<div class="RYM">
        <h1>SportKonnectRYM</h1>
    </div>
    <div class="center">
        <h1>Signup</h1>
        <form id="signup-form" method="post">
            <div class="text_area">
                <input id="username-signup" type="text" required>
                <label>Username</label>
            </div>
            <div class="text_area">
                <input id="password-signup" type="password" required>
                <label>Password</label>
            </div>
            <input type="submit" value="signup">
        </form>
    </div>   

<script src="/public/javascript/login.js"></script>